{% extends 'master.html' %}

{% block body %}

<div class="wrapper">
    <h1>{{ username }}</h1>
    {% if check_logged_in %}
    <ul>
        {% for message in get_flashed_messages()%}
            <li>{{ message }}</li>
        {% endfor %}
    </ul> 

    <form class="wall_poster" method="POST">
    <h2 class="signin-heading">Post to wall</h2>
        <input type="text" class="form-control" placeholder="write post here" name="content">
        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit">
    </form>
    {% endif %}

<div class="wall">
   
    {% for post in wall_posts %}
    <div class="post"><span class="username">{{post[0]}}</span> {{post[1]}} {{post[2]}}</div>
    {% endfor %}

</div>
</div>
{% endblock %}
